<div class="container my-5">
  <h2 class="mb-4 background text-center rounded py-2 fw-bold">Our Teachers</h2>
</div>
<div class="container">
  <div class="row">
    @for (teacher of teachers; track $index) {
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        @for (img of teacher.image.split(','); track $index) {
          <img [src]="img.trim()" width="200" />
          }
        <div class="card-body">
          <h5 class="card-title"><strong>Name:</strong> {{teacher.name}}</h5>
          <p class="card-text"><strong>Subject:</strong> {{teacher.subject}}</p>
          <p class="card-text"><strong>Designation:</strong> {{teacher.designation}}</p>
          <p class="card-text">
            <strong>Bio:</strong> {{teacher.bio}}
          </p>
        </div>
      </div>
    </div>
  }
  </div>
</div>
