<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 border border-2 rounded p-4 bg-light">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>
          <span class="text-danger">*</span>
          <input
            type="email"
            formControlName="email"
            id="form2Example1"
            class="form-control"
            placeholder="Enter your email"
          />
          <div
            *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            class="text-danger"
          >
            Email is required
          </div>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label
          ><span class="text-danger">*</span>
          <input
            type="password"
            formControlName="password"
            id="form2Example2"
            class="form-control"
            placeholder="Enter your password"
          />
          <div
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger"
          >
            Password is required
          </div>
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-primary btn-block background mb-4"
          (click)="onLogin()"
        >
          Sign in
        </button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
