<section class="container my-5">
  <h2 class="text-center mb-4">Admission Form</h2>
  <form class="my-4" id="admissionForm" [formGroup]="admissionForm">
    <!-- Student Details -->
    <div class="card mb-4" formGroupName="studentDetails">
      <div class="card-header background">Student Details</div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Full Name</label>

            <span style="color: red">*</span>
            <input
              formControlName="fullName"
              type="text"
              class="form-control"
              name="studentName"
              placeholder="Enter full name"
              required
            />
            @if (admissionForm.get('studentDetails.fullName')?.invalid && admissionForm.get('studentDetails.fullName')?.touched) {
            <div>
              <span class="text-danger">Full Name is required</span>
            </div>
          }
          </div>
          <div class="col-md-3">
            <label class="form-label">Date of Birth</label>
            <span style="color: red">*</span>
            <input
              formControlName="dob"
              type="date"
              class="form-control"
              name="dob"
              required
            />
            @if (admissionForm.get('studentDetails.dob')?.invalid && admissionForm.get('studentDetails.dob')?.touched) {
            <div>
              <span class="text-danger">DOB is required</span>
            </div>
          }
          </div>
          <div class="col-md-3">
            <label class="form-label">Gender</label>
            <span style="color: red">*</span>
            <div>
              <div class="form-check form-check-inline">
                <input
                  formControlName="gender"
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="male"
                  value="Male"
                  required
                />
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  formControlName="gender"
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="female"
                  value="Female"
                />
                <label class="form-check-label" for="female">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  formControlName="gender"
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="other"
                  value="Other"
                />
                <label class="form-check-label" for="other">Other</label>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label class="form-label">Age</label>
            <span style="color: red">*</span>
            <input
              formControlName="age"
              type="number"
              class="form-control"
              name="age"
              min="3"
              max="18"
              placeholder="Enter age"
              required
            />
            @if (admissionForm.get('studentDetails.age')?.invalid && admissionForm.get('studentDetails.age')?.touched) {
            <div>
              <span class="text-danger">Age is required</span>
            </div>
          }
          </div>
          <div class="col-md-2">
            <label class="form-label">Blood Group</label>
            <input
              formControlName="bloodGroup"
              type="text"
              class="form-control"
              name="bloodGroup"
              placeholder="e.g. A+, O-"
            />
          </div>
          <div class="col-md-2">
            <label class="form-label">Religion</label>
            <span style="color: red">*</span>
            <input
              formControlName="religion"
              type="text"
              class="form-control"
              name="religion"
              placeholder="Enter religion"
            />
            @if (admissionForm.get('studentDetails.religion')?.invalid && admissionForm.get('studentDetails.religion')?.touched) {
            <div>
              <span class="text-danger">Religion is required</span>
            </div>
          }
          </div>
          <div class="col-md-3">
            <label class="form-label">Caste Category</label>
            <span style="color: red">*</span>
            <select
              formControlName="casteCategory"
              class="form-select"
              name="casteCategory"
            >
              <option selected disabled>Select</option>
              <option>General</option>
              <option>SC</option>
              <option>ST</option>
              <option>OBC</option>
              <option>Others</option>
            </select>
            @if (admissionForm.get('studentDetails.casteCategory')?.invalid && admissionForm.get('studentDetails.casteCategory')?.touched) {
            <div>
              <span class="text-danger">Cast-Category is required</span>
            </div>
          }
          </div>
          <div class="col-md-2">
            <label class="form-label">Nationality</label>
            <span style="color: red">*</span>
            <input
              formControlName="nationality"
              type="text"
              class="form-control"
              name="nationality"
              placeholder="Enter nationality"
            />
            @if (admissionForm.get('studentDetails.nationality')?.invalid && admissionForm.get('studentDetails.nationality')?.touched) {
            <div>
              <span class="text-danger">Nationality is required</span>
            </div>
          }
          </div>
          <div class="col-md-2">
            <label class="form-label">Mother Tongue</label>
            <span style="color: red">*</span>
            <input
              formControlName="motherTongue"
              type="text"
              class="form-control"
              name="motherTongue"
              placeholder="Enter mother tongue"
            />
            @if (admissionForm.get('studentDetails.motherTongue')?.invalid && admissionForm.get('studentDetails.motherTongue')?.touched) {
            <div>
              <span class="text-danger">Mother-Tongue is required</span>
            </div>
          }
          </div>
          <div class="col-md-3">
            <label class="form-label">Aadhaar Number</label>
            <span style="color: red">*</span>
            <input
              formControlName="aadharNumber"
              type="text"
              class="form-control"
              name="aadhaar"
              placeholder="Enter Aadhaar number"
            />
            @if (admissionForm.get('studentDetails.aadharNumber')?.invalid && admissionForm.get('studentDetails.aadharNumber')?.touched) {
            <div>
              <span class="text-danger">Aadhar Number is required</span>
            </div>
          }
          </div>
        </div>
      </div>
    </div>

    <!-- Admission Details -->
    <div class="card mb-4" formGroupName="admissionDetails">
      <div class="card-header background">Admission Details</div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-4">
            <label class="form-label">Admission For Class</label>
            <span style="color: red">*</span>
            <select
              class="form-select"
              name="admissionClass"
              formControlName="admissionForClass"
            >
              <option selected disabled>Select Class</option>
              <option>Nursery</option>
              <option>LKG</option>
              <option>UKG</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <!-- Add more classes as needed -->
            </select>
            @if (this.admissionForm.get('admissionDetails.admissionForClass')?.invalid && this.admissionForm.get('admissionDetails.admissionForClass')?.touched) {
            <div>
              <span class="text-danger">Selection of class is required</span>
            </div>
          }
          </div>
          <div class="col-md-4">
            <label class="form-label">Academic Year</label>
            <span style="color: red">*</span>
            <input
              formControlName="academicYear"
              type="text"
              class="form-control"
              name="academicYear"
              placeholder="2025-2026"
            />
            @if (this.admissionForm.get('admissionDetails.academicYear')?.invalid && this.admissionForm.get('admissionDetails.academicYear')?.touched) {
            <div>
              <span class="text-danger">Academic Year is required</span>
            </div>
          }
          </div>
          <div class="col-md-4">
            <label class="form-label">Previous School Name</label>
            <input
              formControlName="previousSchoolName"
              type="text"
              class="form-control"
              name="prevSchool"
              placeholder="Enter previous school name"
            />
          </div>
          <div class="col-12">
            <label class="form-label">Reason for Leaving Previous School</label>
            <textarea
              formControlName="reasonForLeavingPreviousSchool"
              class="form-control"
              name="reasonLeaving"
              rows="2"
              placeholder="Enter reason"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Parent/Guardian Details -->
    <div class="card mb-4">
      <div class="card-header background">Parent/Guardian Details</div>
      <div class="card-body">
        <div class="row g-3" formGroupName="father">
          <!-- Father's Info -->
          <div class="col-12">
            <h6>Father's Information</h6>
          </div>
          <div class="col-md-4">
            <label class="form-label">Full Name</label>
            <span style="color: red">*</span>
            <input
              formControlName="fullName"
              type="text"
              class="form-control"
              name="fatherName"
              placeholder="Father's full name"
            />
            @if (admissionForm.get('father.fullName')?.invalid && admissionForm.get('father.fullName')?.touched) {
            <div>
              <span class="text-danger">Father's Full Name is required</span>
            </div>
          }
          </div>
          <div class="col-md-2">
            <label class="form-label">Qualification</label>
            <span style="color: red">*</span>
            <input
              formControlName="qualification"
              type="text"
              class="form-control"
              name="fatherQualification"
              placeholder="Qualification"
            />
            @if (admissionForm.get('father.qualification')?.invalid && admissionForm.get('father.qualification')?.touched) {
            <div>
              <span class="text-danger">Qualification is required</span>
            </div>
          }
          </div>
          <div class="col-md-2">
            <label class="form-label">Occupation</label>
            <span style="color: red">*</span>
            <input
              formControlName="occupation"
              type="text"
              class="form-control"
              name="fatherOccupation"
              placeholder="Occupation"
            />
            @if (admissionForm.get('father.occupation')?.invalid && admissionForm.get('father.occupation')?.touched) {
            <div>
              <span class="text-danger">Occupation is required</span>
            </div>
          }
          </div>
          <div class="col-md-4">
            <label class="form-label">Office Address</label>
            <input
              formControlName="officeAddress"
              type="text"
              class="form-control"
              name="fatherOffice"
              placeholder="Office address"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">Contact Number</label>
            <span style="color: red">*</span>
            <input
              formControlName="contactNumber"
              type="text"
              class="form-control"
              name="fatherContact"
              placeholder="Contact number"
            />
            @if (admissionForm.get('father.contactNumber')?.invalid && admissionForm.get('father.contactNumber')?.touched) {
            <div>
              <span class="text-danger">Contact Number is required</span>
            </div>
          }
          </div>
          <div class="col-md-3">
            <label class="form-label">Email</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              name="fatherEmail"
              placeholder="Email address"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">Aadhaar Number</label>
            <span style="color: red">*</span>
            <input
              formControlName="aadharNumber"
              type="text"
              class="form-control"
              name="fatherAadhaar"
              placeholder="Aadhaar number"
            />
            @if (admissionForm.get('father.aadharNumber')?.invalid && admissionForm.get('father.aadharNumber')?.touched) {
            <div>
              <span class="text-danger">Aadhar Number is required</span>
            </div>
          }
          </div>
        </div>
        <!-- Mother's Info -->
        <div class="row g-3 mt-4" formGroupName="mother">
          <div class="col-12 mt-3">
            <h6>Mother's Information</h6>
          </div>
          <div class="col-md-4">
            <label class="form-label">Full Name</label>
            <span style="color: red">*</span>
            <input
              formControlName="fullName"
              type="text"
              class="form-control"
              name="motherName"
              placeholder="Mother's full name"
            />
            @if (admissionForm.get('mother.fullName')?.invalid && admissionForm.get('mother.fullName')?.touched) {
            <div>
              <span class="text-danger">Mother's Full Name is required</span>
            </div>
          }
          </div>
          <div class="col-md-2">
            <label class="form-label">Qualification</label>
            <span style="color: red">*</span>
            <input
              formControlName="qualification"
              type="text"
              class="form-control"
              name="motherQualification"
              placeholder="Qualification"
            />
            @if (admissionForm.get('mother.qualification')?.invalid && admissionForm.get('mother.qualification')?.touched) {
            <div>
              <span class="text-danger">Qualification is required</span>
            </div>
          }
          </div>
          <div class="col-md-2">
            <label class="form-label">Occupation</label>
            <span style="color: red">*</span>
            <input
              formControlName="occupation"
              type="text"
              class="form-control"
              name="motherOccupation"
              placeholder="Occupation"
            />
            @if (admissionForm.get('mother.occupation')?.invalid && admissionForm.get('mother.occupation')?.touched) {
            <div>
              <span class="text-danger">Occupation is required</span>
            </div>
          }
          </div>
          <div class="col-md-4">
            <label class="form-label">Office Address</label>
            <input
              formControlName="officeAddress"
              type="text"
              class="form-control"
              name="motherOffice"
              placeholder="Office address"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">Contact Number</label>
            <span style="color: red">*</span>
            <input
              formControlName="contactNumber"
              type="text"
              class="form-control"
              name="motherContact"
              placeholder="Contact number"
            />
            @if (admissionForm.get('mother.contactNumber')?.invalid && admissionForm.get('mother.contactNumber')?.touched) {
            <div>
              <span class="text-danger">Contact Number is required</span>
            </div>
          }
          </div>
          <div class="col-md-3">
            <label class="form-label">Email</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              name="motherEmail"
              placeholder="Email address"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">Aadhaar Number</label>
            <span style="color: red">*</span>
            <input
              formControlName="aadharNumber"
              type="text"
              class="form-control"
              name="motherAadhaar"
              placeholder="Aadhaar number"
            />
            @if (admissionForm.get('mother.aadharNumber')?.invalid && admissionForm.get('mother.aadharNumber')?.touched) {
            <div>
              <span class="text-danger">Aadhar Number is required</span>
            </div>
          }
          </div>
        </div>
        <div>
          <!-- Guardian Info (optional) -->
        </div>
        <div class="row g-3 mt-4" formGroupName="guardianInfo">
          <div class="col-12 mt-3">
            <h6>Guardian Information (Optional)</h6>
          </div>
          <div class="col-md-4">
            <label class="form-label">Full Name</label>
            <input
              formControlName="fullName"
              type="text"
              class="form-control"
              name="guardianName"
              placeholder="Guardian's full name"
            />
          </div>
          <div class="col-md-2">
            <label class="form-label">Relationship</label>
            <input
              formControlName="relationship"
              type="text"
              class="form-control"
              name="guardianRelation"
              placeholder="Relationship"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">Contact Number</label>
            <input
              formControlName="contactNumber"
              type="text"
              class="form-control"
              name="guardianContact"
              placeholder="Contact number"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">Address</label>
            <input
              formControlName="address"
              type="text"
              class="form-control"
              name="guardianAddress"
              placeholder="Guardian's address"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Address Details -->
    <div class="card mb-4" formGroupName="addressDetails">
      <div class="card-header background">Address Details</div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Present Address</label>
            <span style="color: red">*</span>
            <textarea
              formControlName="presentAddress"
              class="form-control"
              name="presentAddress"
              rows="2"
              placeholder="Enter present address"
            ></textarea>
            @if (admissionForm.get('addressDetails.presentAddress')?.invalid && admissionForm.get('addressDetails.presentAddress')?.touched) {
            <div>
              <span class="text-danger">Present Address is required</span>
            </div>
          }
          </div>
          <div class="col-md-6">
            <label class="form-label">Permanent Address</label>
            <span style="color: red">*</span>
            <textarea
              formControlName="permanentAddress"
              class="form-control"
              name="permanentAddress"
              rows="2"
              placeholder="Enter permanent address"
            ></textarea>
            @if (admissionForm.get('addressDetails.permanentAddress')?.invalid && admissionForm.get('addressDetails.permanentAddress')?.touched) {
            <div>
              <span class="text-danger">Permanent Address is required</span>
            </div>
          }
            <div class="form-check mt-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="sameAddress"
                (change)="copyAddress($event)"
              />
              <label class="form-check-label" for="sameAddress">
                Same as Present Address
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Emergency Contact Number</label>
            <span style="color: red">*</span>
            <input
              formControlName="emergencyContactNumber"
              type="text"
              class="form-control"
              name="emergencyContact"
              placeholder="Emergency contact number"
            />
            @if (admissionForm.get('addressDetails.emergencyContactNumber')?.invalid && admissionForm.get('addressDetails.emergencyContactNumber')?.touched) {
            <div>
              <span class="text-danger">Emergency Contact Number is required</span>
            </div>
          }
          </div>
          <div class="col-md-4">
            <label class="form-label">Alternative Contact Number</label>
            <span style="color: red">*</span>
            <input
              formControlName="alternativeContactNumber"
              type="text"
              class="form-control"
              name="altContact"
              placeholder="Alternative contact number"
            />
            @if (admissionForm.get('addressDetails.alternativeContactNumber')?.invalid && admissionForm.get('addressDetails.alternativeContactNumber')?.touched) {
            <div>
              <span class="text-danger">Alternative Contact Number is required</span>
            </div>
          }
          </div>
        </div>
      </div>
    </div>

    <!-- Documents Upload -->
    <div class="card mb-4" formGroupName="documents">
      <div class="card-header background">Documents Upload</div>
      <div class="card-body">
        <div class="mb-3">
          <label class="form-label"
            >Student Photo <span class="text-danger">*</span></label
          >

          <input
            formControlName="studentPhoto"
            class="form-control"
            type="file"
            name="studentPhoto"
            (change)="onImageSelect($event)"
            accept="image/*"
            required

          />
          @if (admissionForm.get('documents.studentPhoto')?.invalid && admissionForm.get('documents.studentPhoto')?.touched) {
          <div>
            <span class="text-danger">Student Photo is required</span>
          </div>
        }
        </div>
      </div>
    </div>

    <!-- Declaration -->
    <div class="card mb-4">
      <div class="card-header background">Declaration</div>
      <div class="card-body" formGroupName="declaration">
        <div class="form-check mb-3">
          <input
            formControlName="agree"
            class="form-check-input"
            type="checkbox"
            id="declaration"
            required
          />
          <label class="form-check-label" for="declaration">
            I declare that the information provided is correct.
          </label>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-md-3">
            <label class="form-label">Date</label>
            <span class="text-danger">*</span>
            <input
              formControlName="declarationDate"
              type="date"
              class="form-control"
              name="declarationDate"
              required
            />
            @if (admissionForm.get('declaration.declarationDate') && admissionForm.get('declaration.declarationDate')?.touched) {
            <div>
              <span class="text-danger">Declaration Date is required</span>
            </div>
          }
          </div>
          <div class="col-md-9 text-end">
            <button
              type="button"
              [disabled]="admissionForm.invalid"
              class="btn btn-primary background px-4"
              id="generatePdfBtn"
              (click)="generatePDF()"
            >
              Generate PDF
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Admission Instructions Card -->
  <div class="card border-primary mb-5">
    <div class="card-header background fw-bold">
      Instructions for School Admission Application
    </div>
    <div class="card-body">
      <ol class="mb-3">
        <li>
          <strong>Fill the Online Admission Form</strong><br />
          Complete all fields accurately. Upload child’s recent photo.
        </li>
        <li>
          <strong>Generate the Application PDF</strong><br />
          Click "Generate PDF" to download a print-ready A4 PDF.
        </li>
        <li>
          <strong>Print the PDF</strong><br />
          Print it on A4 paper. Ensure all text is clearly visible.
        </li>
        <li>
          <strong>Visit the School with Required Documents</strong><br />
          Bring the printed form + copies of:
          <ul>
            <li>Child's Aadhaar Card</li>
            <li>Parent's Aadhaar Card</li>
            <li>Student Photo</li>
            <li>School Leaving Certificate (if any)</li>
            <li>Birth Certificate</li>
            <li>Caste Certificate (if applicable)</li>
            <li>Address Proof</li>
            <li>Medical Report (if applicable)</li>
          </ul>
        </li>
      </ol>
      <div class="alert alert-warning mb-0">
        <ul class="mb-0">
          <li>Incomplete forms will not be accepted.</li>
          <li>This PDF does not confirm admission.</li>
          <li>Final decision after document verification.</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="pdf" width="600px" class="mb-5 p-3">
    <section
      style="border: 4px dotted #0b1d51; border-radius: 10px; padding: 10px"
    >
      <div class="row" style="border-bottom: 20px solid #0b1d51">
        <div class="col-2">
          <img
            src="assets/images/logo.jpeg"
            class="rounded-circle"
            width="95"
            height="95"
            alt=""
          />
        </div>
        <div class="col-8 text-center">
          <h1 class="fw-bold text m-0 p-0" style="font-size: 35px">
            Vidyniketnan School
          </h1>
          <p class="m-0 p-0 fw-bold">
            Mangaluru
          </p>
          <p>
            <span class="text-danger fw-bold">Mobile:</span> +91 8976543678, +91
            8989543678
            <span class="text-danger fw-bold">Email:</span>
            vidyniketnanschool&#64;gmail.com
          </p>
        </div>
        <div class="col-2"></div>
      </div>
      <p class="text-decoration-underline fs-2 fw-bold text text-center">
        ADMISSION FORM
      </p>
      <div class="row border border-dark m-1">
        <div class="col-5">
          <table width="100%">
            <thead>
              <tr>
                <th width="40%">Student's Name:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.fullName")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Date of Birth:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.dob")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Gender:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.gender")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Age:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.age")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Blood Group:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.bloodGroup")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Religion:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.religion")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Caste Category:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.casteCategory")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Nationality:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.nationality")?.value}}
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-5">
          <table width="100%">
            <thead>
              <tr>
                <th width="40%">Mother Tongue:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.motherTongue")?.value}}
                </th>
              </tr>
              <tr>
                <th width="40%">Aadhaar No:</th>
                <th width="60%">
                  {{admissionForm.get("studentDetails.aadharNumber")?.value}}
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-2 border border-dark">
          <img
            [src]="admissionForm.get('documents.studentPhoto')?.value"
            alt=""
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="row border border-dark m-1">
        <div class="col-5">
          <table width="100%">
            <thead>
              <tr>
                <th width="40%">Admission Class:</th>
                <th width="60%">{{admissionForm.get("admissionDetails.admissionForClass")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Academic Year:</th>
                <th width="60%">{{admissionForm.get("admissionDetails.academicYear")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-7">
          <table width="100%">
            <thead>
              <tr>
                <th width="30%">Previous School:</th>
                <th width="70%">{{admissionForm.get("admissionDetails.previousSchoolName")?.value}}</th>
              </tr>
              <tr>
                <th width="30%">Reason of Leaving:</th>
                <th width="70%">
                  {{admissionForm.get("admissionDetails.reasonForLeavingPreviousSchool")?.value}}
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="row border border-dark m-1">
        <div class="col-5">
          <table width="100%">
            <thead>
              <tr>
                <th width="40%">Father's Name:</th>
                <th width="60%">{{admissionForm.get("father.fullName")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Qualification:</th>
                <th width="60%">{{admissionForm.get("father.qualification")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Contact No:</th>
                <th width="60%">{{admissionForm.get("father.contactNumber")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Aadhaar No:</th>
                <th width="60%">{{admissionForm.get("father.aadharNumber")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-7">
          <table width="100%">
            <thead>
              <tr>
                <th width="30%">Occupation:</th>
                <th width="70%">{{admissionForm.get("father.occupation")?.value}}</th>
              </tr>
              <tr>
                <th width="30%">Office:</th>
                <th width="70%">{{admissionForm.get("father.officeAddress")?.value}}</th>
              </tr>
              <tr>
                <th width="30%">Email:</th>
                <th width="70%">{{admissionForm.get("father.email")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="row border border-dark m-1">
        <div class="col-5">
          <table width="100%">
            <thead>
              <tr>
                <th width="40%">Mother's Name:</th>
                <th width="60%">{{admissionForm.get("mother.fullName")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Qualification:</th>
                <th width="60%">{{admissionForm.get("mother.qualification")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Contact No:</th>
                <th width="60%">{{admissionForm.get("mother.contactNumber")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Aadhaar No:</th>
                <th width="60%">{{admissionForm.get("mother.aadharNumber")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-7">
          <table width="100%">
            <thead>
              <tr>
                <th width="30%">Occupation:</th>
                <th width="70%">{{admissionForm.get("mother.occupation")?.value}}</th>
              </tr>
              <tr>
                <th width="30%">Office:</th>
                <th width="70%">{{admissionForm.get("mother.officeAddress")?.value}}</th>
              </tr>
              <tr>
                <th width="30%">Email:</th>
                <th width="70%">{{admissionForm.get("mother.email")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="row border border-dark m-1">
        <div class="col-5">
          <table width="100%">
            <thead>
              <tr>
                <th width="40%">Guardian Name:</th>
                <th width="60%">{{admissionForm.get("guardianInfo.fullName")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Relation:</th>
                <th width="60%">{{admissionForm.get("guardianInfo.relationship")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-7">
          <table width="100%">
            <thead>
              <tr>
                <th width="30%">Contact No:</th>
                <th width="70%">{{admissionForm.get("guardianInfo.contactNumber")?.value}}</th>
              </tr>
              <tr>
                <th width="30%">Address:</th>
                <th width="70%">{{admissionForm.get("guardianInfo.address")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="row border border-dark m-1">
        <div class="col-5">
          <table width="100%">
            <thead>
              <tr>
                <th width="40%">Emergency Contact:</th>
                <th width="60%">{{admissionForm.get("addressDetails.emergencyContactNumber")?.value}}</th>
              </tr>
              <tr>
                <th width="40%">Alternative Contact:</th>
                <th width="60%">{{admissionForm.get("addressDetails.alternativeContactNumber")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-7">
          <table width="100%">
            <thead>
              <tr>
                <th width="30%">Present Address:</th>
                <th width="70%">{{admissionForm.get("addressDetails.presentAddress")?.value}}</th>
              </tr>
              <tr>
                <th width="30%">Permanent Address:</th>
                <th width="70%">{{admissionForm.get("addressDetails.permanentAddress")?.value}}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="row border border-dark m-1">
        <h6 class="background py-1 fs-4 mb-3">Instructions for Submission:-</h6>
        <div class="mx-1">
          <p class="mb-2 fw-bold">
            Attach the following documents with this form:
          </p>
          <ul class="mb-3">
            <li>Birth Certificate (photocopy)</li>
            <li>Aadhaar Card (child and parents)</li>
            <li>Transfer Certificate (if applicable)</li>
            <li>Recent passport-size photograph of the student</li>
            <li>Caste Certificate (if applicable)</li>
            <li>Medical Fitness Certificate (if required)</li>
            <li>Address Proof (utility bill, ration card, etc.)</li>
          </ul>

          <ul class="mb-0">
            <li>
              Both parents or guardians must sign the declaration section before
              submission.
            </li>
            <li>
              The form must be submitted in person at the school office along
              with required documents.
            </li>
            <li>
              <strong>Note:</strong> Submission of this form does not guarantee
              admission. Final decision rests with school authorities.
            </li>
          </ul>
        </div>
      </div>
      <div class="row" style="height: 350px">
        <div class="col-6">Parent Signature:-</div>
        <div class="col-6">Principal Signature:-</div>
      </div>
    </section>
  </div>
</section>
