<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10">
      <div class="card shadow rounded-4">
        <div
          class="card-header background text-white text-center rounded-top-4"
        >
          <h4 class="mb-0"><i class="fa fa-map me-2"></i>Our Location</h4>
        </div>
        <div class="card-body p-4">
          <p class="text-justify mb-4 fs-6 fw-semibold">
            We are located in the heart of Salempur, Bihar 841405. Our school is
            easily accessible and situated in a peaceful environment conducive
            to learning. Below is our exact location on Google Maps.
          </p>
          <div id="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3572.268539917896!2d84.65658937373671!3d26.447071479949372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399323838df9c78f%3A0x5e35a4886b068ef6!2sGOD%20GRACE%20SCHOOL%20SALEMPUR%2C%20GOPALGNJ!5e0!3m2!1sen!2sin!4v1750657865202!5m2!1sen!2sin"
              width="100%"
              height="400px"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
