/* You can add global styles to this file, and also import other style files */
.background {
  background-color: #0b1d51 !important;
  color: white !important;
}
.text {
  color: #0b1d51;
  background-color: white;
}

.section-background {
  background-color: #f1efec;
  color: #0b1d51;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
