<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 border border-2 rounded p-4 bg-light">
      <form [formGroup]="registerForm">
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="name">Name</label>
          <span class="text-danger">*</span>
          <input
            type="text"
            formControlName="name"
            id="name"
            class="form-control"
            placeholder="Enter your Name"
          />
          @if (registerForm.get('name')?.invalid &&
          registerForm.get('name')?.touched) {
          <div>
            <span class="text-danger">Name is required</span>
          </div>
          }
        </div>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="email">Email address</label>
          <span class="text-danger">*</span>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            placeholder="Enter your email"
          />
          @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
            <div>
              <span class="text-danger">Email is required</span>
            </div>
          }
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="password">Password</label
          ><span class="text-danger">*</span>
          <input
            type="password"
            formControlName="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
          />
          @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
            <div>
              <span class="text-danger">Password is required</span>
            </div>
          }
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-primary btn-block background mb-4"
          (click)="register()"
        >
          Sign Up
        </button>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
